<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рейтинг Новаторов</title>
    <link href="../../static/css/rating.css" rel="stylesheet">
    <link href="../../static/css/table-main.css" rel="stylesheet">
    <style>
        h1 {
            text-align: center;
            color: #d32323; /* Красный цвет */
            font-size: 2em;
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #d32323;
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

    </style>
    <script>
        function filterTable() {
            const input = document.getElementById('search').value.toLowerCase();
            const rows = document.querySelectorAll('#data-table tbody tr');

            rows.forEach(row => {
                const cells = row.querySelectorAll('td');
                const fullSearch = `${cells[1].textContent.toLowerCase()} ${cells[2].textContent.toLowerCase()} ${cells[3].textContent.toLowerCase()} ${cells[4].textContent.toLowerCase()}`;

                if (
                    (fullSearch.includes(input))
                    ) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        }
        
        function groupAndSumScores() {
            const rows = document.querySelectorAll('#data-table tbody tr');
            const employeeData = {};

            rows.forEach(row => {
                const cells = row.querySelectorAll('td');
                const lastName = cells[1].textContent;
                const firstName = cells[2].textContent;
                const middleName = cells[3].textContent;
                const jobTitle = cells[4].textContent;
                const score = parseInt(cells[6].textContent);

                const key = `${lastName} ${firstName} ${middleName} ${jobTitle} ${department}`;

                if (!employeeData[key]) {
                    employeeData[key] = {
                        lastName,
                        firstName,
                        middleName,
                        jobTitle,
                        department,
                        totalScore: 0
                    };
                }

                employeeData[key].totalScore += score;
            });

            // Convert the object to an array and sort by totalScore in descending order
            const sortedEmployees = Object.values(employeeData).sort((a, b) => b.totalScore - a.totalScore);

            // Clear existing rows
            document.querySelector('#data-table tbody').innerHTML = '';

            // Append sorted and grouped data to the table
            sortedEmployees.forEach((employee, index) => {
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td>${index + 1}</td>
                    <td>${employee.lastName}</td>
                    <td>${employee.firstName}</td>
                    <td>${employee.middleName}</td>
                    <td>${employee.jobTitle}</td>
                    <td>${employee.totalScore}</td>
<!--                    <td>${employee.project_count}</td>-->
                `;
                document.querySelector('#data-table tbody').appendChild(newRow);
            });
        }

        function updateDaysLeft() {
            const targetDate = new Date('2024-06-27');
            const currentDate = new Date();
            const timeDiff = targetDate - currentDate;
            const daysLeft = Math.ceil(timeDiff / (1000 * 60 * 60 * 24));

            const quarterTitle = document.querySelector('.quarter-title');
            quarterTitle.textContent = `I квартал 2024 года. До защиты осталось ${daysLeft} дней!`;
        }

        document.addEventListener('DOMContentLoaded', () => {
            groupAndSumScores();
            updateDaysLeft(); // Вызовите функцию здесь, чтобы обновить текст
        });
        
    </script>
</head>
<body>
      <!-- Шапка сайта -->
  <div class="header">
    <div class="header-text">Рейтинг Новаторов</div>
    <!-- Логотип (картинку замените на вашу) -->
    <img class="logo" src="..\..\static\img\foni-papik-pro-tpaq-p-kartinki-logo-rzhd-na-prozrachnom-fone-25.png" alt="Логотип">
    <ul>
        <li>
            <a href="/admin/">Менеджер</a>
        </li>
    </ul>
</div>

<br> <br>

<div class="quarter-title">
    <!-- Текст будет обновлен JavaScript -->
</div>

<div class="search-container">
    <div class="search-wrapper">
        <input type="text" id="search" placeholder="Поиск по Таблице" oninput="filterTable()">
        <img src="https://cdn-icons-png.flaticon.com/512/622/622605.png" alt="image">
    </div>
</div>
<br>

<div class="table-container">
    <table id="data-table">
        <thead>
            <tr>
                <th>№</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Должность</th>
                <th>Количество баллов</th>
                <th>Количество проектов</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td data-label="№">{{ employee.row_number }}</td>
                <td data-label="Фамилия">{{ employee.last_name }}</td>
                <td data-label="Имя">{{ employee.first_name }}</td>
                <td data-label="Отчество">{{ employee.middle_name }}</td>
                <td data-label="Должность">{{ employee.job_title }}</td>
                <td data-label="Количество баллов">{{ employee.total_score }}</td>
                <td data-label="Количество проектов"> {{ employee.project_count }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="button-container">
    <form action="{% url 'choice' %}">
        <input type="submit" value="Отправить Заявку">
    </form>
    
    <form action="{% url 'expert' %}">
        <input type="submit" value="Таблица Экспертов">
    </form>
</div>

</body>
</html>
